# Pandas: 데이터 조작 및 분석을 위해 Python 프로그래밍 언어로 작성된 라이브러리

## 목차
- [1. 데이터프레임 생성](#1-데이터프레임-생성)

## 1. 데이터프레임 생성

In [1]:
from IPython.display import display
import pandas as pd
import numpy as np

# 2D 배열로부터 데이터프레임 생성
my_2darr = np.array([[1, 2, 3], [4, 5, 6]])
display(pd.DataFrame(my_2darr))

# 딕셔너리로부터 데이터프레임 생성
my_dict = {'a': [1, 3], 'b': [1, 2], 'c': [2, 4]}
display(pd.DataFrame(my_dict))

# 데이터프레임 인자를 입력하여 생성
my_df1 = pd.DataFrame(data=[4, 5, 6, 7], index=range(0, 4), columns=['A'])
display(my_df1)
my_df2 = pd.DataFrame(data=[[8, 9], [10, 11]], columns=['B', 'C'])
display(my_df2)

# 시리즈로부터 생성
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

   0  1  2
0  1  2  3
1  4  5  6

   a  b  c
0  1  1  2
1  3  2  4

   A
0  4
1  5
2  6
3  7

    B   C
0   8   9
1  10  11

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels