# Pandas: 데이터 조작 및 분석을 위해 Python 프로그래밍 언어로 작성된 라이브러리

## 목차
- [1. 데이터프레임 생성](#1-데이터프레임-생성)

## 1. 데이터프레임 생성

In [1]:
from IPython.display import display
import pandas as pd
import numpy as np

# 2D 배열로부터 데이터프레임 생성
my_2darr = np.array([[1, 2, 3], [4, 5, 6]])
display(pd.DataFrame(my_2darr))

# 딕셔너리로부터 데이터프레임 생성
my_dict = {'a': [1, 3], 'b': [1, 2], 'c': [2, 4]}
display(pd.DataFrame(my_dict))

# 데이터프레임 인자를 입력하여 생성
my_df1 = pd.DataFrame(data=[4, 5, 6, 7], index=range(0, 4), columns=['A'])
display(my_df1)
my_df2 = pd.DataFrame(data=[[8, 9], [10, 11]], columns=['B', 'C'])
display(my_df2)

# 시리즈로부터 생성
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

   0  1  2
0  1  2  3
1  4  5  6

   a  b  c
0  1  1  2
1  3  2  4

   A
0  4
1  5
2  6
3  7

    B   C
0   8   9
1  10  11

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

## 2. 데이터프레임 조작

### 2.1. 열 합계

#### 2.1.1. 단일 열

In [2]:
df = pd.DataFrame(
    {
        'rating': [90, 85, 82, 88, 94, 90, 76, 75, 87, 86],
        'points': [25, 20, 14, 16, 27, 20, 12, 15, 14, 19],
        'assists': [5, 7, 7, 8, 5, 7, 6, 9, 9, 5],
        'rebounds': [np.nan, 8, 10, 6, 6, 9, 6, 10, 10, 7]
    }
)

df

   rating  points  assists  rebounds
0      90      25        5       NaN
1      85      20        7       8.0
2      82      14        7      10.0
3      88      16        8       6.0
4      94      27        5       6.0
5      90      20        7       9.0
6      76      12        6       6.0
7      75      15        9      10.0
8      87      14        9      10.0
9      86      19        5       7.0

In [3]:
points_sum = df['points'].sum()
print(f'type(points_sum): {type(points_sum)}')
print(f'points_sum: {points_sum}')

type(points_sum): <class 'numpy.int64'>
points_sum: 182

#### 2.1.2. 복수 열

In [4]:
several_sum = df[['rebounds', 'points']].sum()
print(f'type(several_sum): {type(several_sum)}')
print(f'several_sum: \n{several_sum}')

type(several_sum): <class 'pandas.core.series.Series'>
several_sum:
rebounds     72.0
points      182.0
dtype: float64

#### 2.1.3. 전체 열 합계

In [5]:
df.sum()

rating      853.0
points      182.0
assists      68.0
rebounds     72.0
dtype: float64